<h4>/ex2 </h4><br /><br />


<div class="alert alert-info">
  <span>Choisissez les éléments  à inclure</span>
</div>

<div>
  <!-- Ajouter les != services -->
</div>

<div>
  Total : <span></span>
</div>

<div>
  <span><input type="checkbox"> </span>
  <span><input type="text" placeholder="Code promo"></span>
</div>
<div>
  Remise : <span></span><br>
  Total avec remise : <span></span>
</div>
{{outlet}}