
<div class="ui container">
  <div class="ui aligned basic segment">
    <div class="ui horizontal divider">
      Delete
    </div>
    <div class="ui message form">
      <div class="two fields">
        <div class="field">
            Confirmez vous la suppression de "{{model.copy.identify}}" ?
        </div>
        <div class="field ">
          <button {{action "cancelDeletion" }} class="ui red button ui right floated">Annuler</button>
          <button {{action "confirmDeletion" model}} class="ui green button ui right floated">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
