<div class="ui container"><br>
  <div class="ui  segment">
    <h3>Ajouter un developeur</h3>
    <div class="ui form">
        <div class="two fields">
          <div class="ui field">
            <label>Identity</label>
            {{input value = model.copy.identify class="ui input"}}
          </div>
          <div class="ui field"><br>
            <button {{action "save" model}} class="ui primary button">Enregistrer</button>
          </div>
        </div>
      </div>

  </div>
</div>
{{outlet}}
