<h2>Details</h2>
<div>
  <div class="list-group-item active"> Details utilisateur</div>
  <div class="list-group-item ">Nom : {{model.nom}}</div>
  <div class="list-group-item ">Age : {{model.age}}</div>
  <div class="list-group-item ">
    <button class="btn btn-dark" {{action "fermer"}}>Fermer</button>
  </div>
</div>


{{outlet}}