<div class="ui container"><br/>
  <h1>TP4 Laura Scelles</h1>
  <div class="ui secondary pointing menu">
    
    {{#link-to "projects" class="ui item "}}
      Projects
    {{/link-to}}
    {{#link-to "developers" class="ui active item "}}
      Developers
    {{/link-to}}
  </div>

  {{#link-to "developers.new" class="ui primary button"}}
    <i class="add icon"></i>Ajouter un developper
  {{/link-to}}
  <table class="ui table ">
    <thead>
      <th>Identity</th>
      <th></th>
    </thead>
    <tbody>
      {{#each model as |dev|}}
        <tr>
          <td>{{dev.identify}}</td>
          <td >
            {{#link-to "developers.edit" dev class="ui right floated basic circular icon button "}}
              <i class="edit icon"></i>
            {{/link-to}}
            {{#link-to "developers.delete" dev class="ui right floated basic circular icon button red"}}
              <i class="remove icon"></i>
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}
